<!DOCTYPE html>
<html>

<head>
    <title>
        <%= title %>
    </title>
</head>

<body>
    <div id="app">
        <router-view></router-view>
        <released></released>
    </div>
    <script type="text/javascript" src="/javascripts/app.js"></script>
</body>

</html>
